.carts {
    display: flex;
    justify-content: space-between;
    margin: 65px 0;
}

.cart {
    text-align: center;
}

h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    margin: 24px 0 7px;
}

p {
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
}

